<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../static/myroom.css" />
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.138.0/build/three.module.js",
                "OrbitControls": "https://unpkg.com/three@0.138.0/examples/jsm/controls/OrbitControls.js",
                "RGBELoader" : "https://unpkg.com/three@0.138.0/examples/jsm/loaders/RGBELoader.js"
                
            }
        }
    </script>

    </script>

    <script type="module" src="../../static/myroom.js" defer></script>
  </head>
  <body>
    <div id="webgl-container"></div>
  </body>
</html>
