<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diary</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css"
    />
    <style>
      .find-btn {
        text-align: center;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div class="find_button">
      <button onclick="location.href='diary'">Diary</button>
      <button onclick="location.href='bookreport'">Book Report</button>
    </div>
  </body>
</html>
